* {
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  font-family: MulishRegular, Arial, sans-serif;
  font-weight: 400;
  background-color: #F2F5F7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

